<h1>Edition du profil</h1>

<% if signed_in? %>
  <%= link_to "Erase My Account", controller: "users", action: "destroy" %>
<% end %>

<%= form_for(@user) do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  <div class="field">
    <%= f.label :name, "Name" %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :lastname, "Last Name" %><br />
    <%= f.text_field :lastname %>
  </div>
  <div class="field">s
    <%= f.label :email, "eMail" %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :encrypted_password, "Password" %><br />
    <%= f.password_field :encrypted_password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation, "Confirm your Password"%><br />
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>

<div>

</div>