    <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="/">BlackHole</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                <li><%= link_to "About", "#about" %></li>
                <li><%= link_to "Media", "#video" %></li>
                <li><%= link_to "Download", "#download" %></li>
                <li><%= link_to "Contact", "#contact" %></li>
                <% if signed_in? %>
                <li><%= link_to "Profil", edit_user_path(current_user) %></li>
                <li><%= link_to "Déconnexion", '/SignOut', :method => :delete %></li>
                <% else %>
                <li><%= link_to "S'identifier", '/SignIn' %></li>
                <li><%= link_to "S'inscrire !", users_new_path %></li>
                <% end %>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>